bitstring==3.1.9
boto3==1.23.10
botocore==1.26.10
dj-database-url==1.0.0
Django==3.2.16
django-crispy-forms==1.13.0
django-storages==1.12.3
psycopg2==2.7.7
requests==2.20.0
s3transfer==0.5.2
sqlparse==0.4.3
urllib3==1.26.13
