{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    
	<form action="#" method="post" enctype="multipart/form-data">
		<h3>Upload Issue reports, Xcode Logs (.md) or rtlomni captures (.omni)</h3>
		{% csrf_token %}
		{{ form.as_p|crispy }}
    	<input type="file" class="btn btn-info" placeholder=".omni, .md" name="myfile" value="Browse"/>
    	<button type="submit" class="btn btn-success"/>Process</button>
	</form>
  </br>
  {% for report in contentOfFile %}
	{% if report.allcommands %}
    		<h5>All {{report.command_type}} commands</h5>
        	<code>
        	    {{ report.matching_tempbasals.header }}
                </br>
        	    {% for command in report.allcommands %}
        	       {{ command }}
        	       </br>
    		    {% endfor %}
    		</code>
	{% endif %}
	{% if report.matching_tempbasals%}
    	</br>
        {{ report.matching_tempbasals.total_results }}
        </br>
    	<code>
    	{% for test in report.matching_tempbasals.results %}
    	  {% if test.match %}
            {{ test.pdm }}
            </br>
            {{ test.loop }}
            </br>
            match: {{ test.match }}
            </br>
          {% endif %}
		{% endfor %}
		</code>
    {% endif %}
    {% if report.flashlogs%}
        <hr class="mt-0 mb-2">
        <h5>Pulse Log entries</h5>
        <code>
        {% for pulse_set in report.flashlogs.results %}
            {{ report.flashlogs.header }}
            </br>
            {% for pulse in pulse_set|dictsort:'log' %}
                {{ pulse.log }}
                </br>
            {% endfor %}
            </br>
        {% endfor %}
        {{ report.flashlogs.header }}
        </code>
    {% endif %}
  {% endfor %}
  
{% endblock %}